 


<nav class="navbar navbar-expand-lg  p-3 mb-2 bg-warning text-dark">
    <div class="container">
      <a class="navbar-brand" href="#">BRAND LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
         <!--- <li class="nav-item active">
            <a class="nav-link" href="?#">Home <span class="sr-only">(current)</span></a>
          </li>-->

        <li class="nav-item"> <a routerLink="product" routerLinkActive="active" class="nav-link">product</a> </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="about" routerLinkActive="active">about</a>
          </li>  
          
          <li class="nav-item">
            <a  class="nav-link" routerLink="info" routerLinkActive="active">info</a>
          </li>  
          <li class="nav-item">
            <a  class="nav-link" routerLink="service" routerLinkActive="active">Service</a>
          </li> 

          <li class="nav-item">
            <a  class="nav-link" routerLink="our-work" routerLinkActive="active">Our Work</a>
          </li> 

          
        </ul>
      </div>
        </div>
    </nav> 
