<div class="container">
    <h1 class="text-center">{{singleProductTitle}}</h1>
    <div class="row p-5">
     <div class="col-md-6">
     <img src="{{singleProductImg}}" width="100%">   </div>
      
   
        <div class='col-md-6'> <p><span class='bg_cls'>Name :</span> {{singleProductTitle}}</p>
         <p><span class='bg_cls'>Price :</span> {{singleProductPrice}}</p>
         <p><span class='bg_cls'>Category :</span> {{singleProductCategory}}</p>
         <p><span class='bg_cls'>Quantity :</span> {{singleProductQuantity}} </p>
         <p><span class='bg_cls'>Status:  </span> {{singleProductInventoryStatus}}</p>
       
         <p><span class='bg_cls'>Description :</span> {{singleProductDes}}</p>
        </div>


        
        
     
    </div>
        
    </div>
    
 