#search_box{   
    text-align: center;
    width: 450px;
    margin: 18px auto 49px;
    background: #1971b7;
    padding: 20px;
    box-shadow: 2px 4px 3px 0px #888;
    color: #fff;
    border-radius: 30px;

}
#search_box_head{font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px; }

    .box-shadow {
        box-shadow: 2px 3px 5px 0px #000;
        margin-bottom: 18px;
        background: #fff;
        
    }

    .searchfilter{margin: 10px auto 20px;}
    .notclick{ 
    cursor: pointer;
    text-decoration: none;
    color: black;
  }


  :host ::ng-deep .p-button {
    margin: 13px 0px 0 0;
    min-width: 5rem;
    padding: 4px;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}
.card-title {
    margin-bottom: 0.5rem;
    font-size: 15px;
}
.card {border: 0px; background-color: transparent;}

.notfornd{color:#fff}